{{- include "bjw-s.common.loader.init" . }}

{{/* Append the hardcoded settings */}}
{{- define "your-spotify.harcodedValues" -}}
{{ $defaultSecretName := printf "%v-%v" .Release.Name "config-secret"}}
env:
  - name: MONGO_PASSWORD
    valueFrom:
      secretKeyRef:
        name: {{ .Values.yourSpotify.configSecret.existingSecret | default $defaultSecretName }}
        key: mongodbPassword
  - name: MONGO_ENDPOINT
    value: mongodb://admin:$(MONGO_PASSWORD):{{ .Release.Name }}-mongodb:27017/your_spotify
  - name: CLIENT_ENDPOINT
    value: localhost:3000
  - name: SPOTIFY_PUBLIC
    valueFrom:
      secretKeyRef:
        name: {{ .Values.yourSpotify.configSecret.existingSecret | default $defaultSecretName }}
        key: spotifyPublic
  - name: SPOTIFY_SECRET
    valueFrom:
      secretKeyRef:
        name: {{ .Values.yourSpotify.configSecret.existingSecret | default $defaultSecretName }}
        key: spotifyPrivate


{{- if eq .Values.yourSpotify.configSecret.existingSecret "" }}
secrets:
  config-secret:
    enabled: true
    stringData:
      spotifyPublic: {{ .Values.yourSpotify.spotifyPublic }}
      spotifyPrivate: {{ .Values.yourSpotify.spotifyPublic }}
      mongodbPassword: {{ .Values.yourSpotify.mongodbPassword | default (randAlphaNum 32 | lower) | quote }}
{{- end }}

{{- end -}}
{{- $_ := mergeOverwrite .Values (include "your-spotify.harcodedValues" . | fromYaml) -}}
{{ include "bjw-s.common.loader.generate" . }}