{{- include "bjw-s.common.loader.init" . }}

{{/* Append the hardcoded settings */}}
{{- define "your-spotify.harcodedValues" -}}
env:
  - name: MONGO_ENDPOINT
    value: mongodb://{{ .Release.Name }}-mongodb:27017
  - name: CLIENT_ENDPOINT
    value: localhost:3000

{{- end -}}
{{- $_ := mergeOverwrite .Values (include "your-spotify.harcodedValues" . | fromYaml) -}}
{{ include "bjw-s.common.loader.generate" . }}