{{- range $ingressName, $ingress := .Values }}
{{- if ne $ingressName "hostnames" }}
{{- if and $ingress.enabled $ingress.destinationSvc (ne $ingressName "homepage") }}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ $ingressName }}
  namespace: {{ $ingress.namespace | default "istio-system" }}
spec:
{{- with $.Values.hostnames }}
  hosts:
  {{- range . }}
    {{- if $ingress.subdomain }}
      {{- if not (regexMatch "^[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}$" .) }}
    - {{ $ingress.subdomain }}.{{ . }}
      {{- end }}
    {{- else }}
    - {{ . }}
    {{- end }}
  {{- end }}
{{- end }}
  gateways:
    - internal-gateway
  http:
    - match:
      {{- $prefixes := $ingress.prefixes | default (list "/") }}
      {{- range $prefixes }}
        - uri:
            prefix: {{ . }}
      {{- end }}
      {{- with $ingress.rewrite }}
      rewrite:
        {{- toYaml . | nindent 7}}
      {{- end }}
      route:
        - destination:
            host: {{ $ingress.destinationSvc }}
            port:
              number: {{ $ingress.destinationPort | default 80}}
        {{- with $ingress.headers }}
          headers:
            {{- toYaml . | nindent 12 }}
        {{- end }}
---
{{- range $subIngressName, $subIngress := $ingress.dependentIngresses }}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ $subIngressName }}
  namespace: {{ $subIngress.namespace | default "istio-system" }}
spec:
{{- with $.Values.hostnames }}
  hosts:
  {{- range . }}
    {{- if $subIngress.subdomain }}
      {{- if not (regexMatch "^[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}$" .) }}
    - {{ $subIngress.subdomain }}.{{ . }}
      {{- end }}
    {{- else }}
    - {{ . }}
    {{- end }}
  {{- end }}
{{- end }}
  gateways:
    - internal-gateway
  http:
    - match:
      {{- $prefixes := $subIngress.prefixes | default (list "/") }}
      {{- range $prefixes }}
        - uri:
            prefix: {{ . }}
      {{- end }}
      {{- with $subIngress.rewrite }}
      rewrite:
        {{- toYaml . | nindent 7}}
      {{- end }}
      route:
        - destination:
            host: {{ $subIngress.destinationSvc }}
            port:
              number: {{ $subIngress.destinationPort | default 80}}
---
{{- end }}
{{- end }}
{{- end }}
{{- end }}