apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: internal-gateway
  namespace: istio-system
spec:
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        {{- toYaml .Values.hostnames | nindent 8 }}
        {{- range $key, $value := .Values }}
          {{- if and (ne $key "hostnames") $value.enabled $value.subdomain }}
            {{- range $.Values.hostnames }}
              {{- if not (regexMatch "^[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}$" .) }}
        - {{ $value.subdomain }}.{{ . }}
              {{- end }}
            {{- end }}
          {{- end }}
        {{- end }}