sonarr:
  urlBase: sonarr

  configSecret:
    existingSecret: sonarr-config-secret

  externalAuth: true

  postgres:
    enabled: true
    setupJob:
      enabled: false

serviceAccount:
  create: true
  name: sonarr
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-2"

persistence:
  videos:
    enabled: true
    type: hostPath
    mountPath: /videos
    hostPath: /storagePool/videoData/Videos/

initContainers:
  init-tv-dir:
    image: busybox
    command: ["sh", "-c"]
    args:
      - |
        mkdir -p /videos/TV
        chmod 777 /videos/TV
        chown -R 911 /videos/TV
    volumeMounts:
      - name: videos
        mountPath: /videos

nodeSelector:
  kubernetes.io/hostname: gaming-pc-node
