{{/* Append the hardcoded settings */}}
{{- define "healthchecks.harcodedValues" -}}
env:
  PAPERLESS_TIME_ZONE: {{ .Values.env.TZ }}
  PAPERLESS_PORT: {{ quote .Values.service.main.ports.http.port }}
  PAPERLESS_FORCE_SCRIPT_NAME: /paperless

  PAPERLESS_ADMIN_USER: admin
  PAPERLESS_ADMIN_PASSWORD: admin

  {{- with .Values.ingress.main }}
  {{- if and .enabled .hosts }}
  PAPERLESS_URL: http{{ if .tls }}s{{ end }}://{{ (first .hosts).host }}
  {{- end }}
  {{- end }}

  {{- if .Values.postgresql.enabled }}
  {{- with .Values.postgresql }}
  PAPERLESS_DBENGINE: postgresql
  PAPERLESS_DBHOST: {{ $.Release.Name }}-postgresql
  PAPERLESS_DBNAME: {{ .auth.database }}
  PAPERLESS_DBUSER:
    secretKeyRef:
      name: {{ .auth.existingSecret | default (printf "%s-postgresql" $.Release.Name) }}
      key: {{ .auth.usernameKey | default "postgresUsername" }}
  PAPERLESS_DBPASS:
    secretKeyRef:
      name: {{ .auth.existingSecret | default (printf "%s-postgresql" $.Release.Name) }}
      key: {{ .auth.passwordKey | default "postgresPassword" }}
  {{- end }}
  {{- else if .Values.mariadb.enabled }}
  {{- with .Values.mariadb}}
  PAPERLESS_DBENGINE: mariadb
  PAPERLESS_DBHOST: {{ $.Release.Name }}-mariadb
  PAPERLESS_DBNAME: {{ .auth.database }}
  PAPERLESS_DBUSER: {{ .auth.username }}
  PAPERLESS_DBPASS:
    secretKeyRef:
      name: {{ .auth.existingSecret | default (printf "%s-mariadb" $.Release.Name) }}
      key: mariadb-password
  {{- end }}
  {{- end }}

  {{- if .Values.redis.enabled }}
  {{- with .Values.redis }}
  A_REDIS_PASSWORD:
    secretKeyRef:
      name: {{ .auth.existingSecret | default (printf "%s-redis" $.Release.Name) }}
      key: {{ .auth.existingSecretPasswordKey | default "redis-password" }}
  PAPERLESS_REDIS: redis://{{ .auth.username | default "default" }}:$(A_REDIS_PASSWORD)@{{ $.Release.Name }}-redis
  {{- end }}
  {{- end }}
{{- end -}}
{{- $_ := merge .Values (include "healthchecks.harcodedValues" . | fromYaml) -}}

{{/* Render the templates */}}
{{ include "bjw-s.common.loader.all" . }}
