REMOTE_HOST='{{ remoteHost }}'
REMOTE_USER='{{ remoteUser }}'


LOCAL_PIHOLE_DIRECTORY='{{ piholeDirectory }}' # Local Pi-hole data directory
REMOTE_PIHOLE_DIRECTORY='{{ piholeDirectory }}' # Remote Pi-hole data directory
LOCAL_DNSMASQ_DIRECTORY='{{ DNSMasqDirectory }}' # Local DNSMASQ/FTL data directory
REMOTE_DNSMASQ_DIRECTORY='{{ DNSMasqDirectory }}' # Remote DNSMASQ/FTL data directory
LOCAL_FILE_OWNER='{{ remoteUser }}'  # Local file owner for Pi-hole
REMOTE_FILE_OWNER='{{ remoteUser }}' # Remote file owner for Pi-hole

# Pi-hole Docker/Podman container name - Docker will pattern match anything set below
LOCAL_DOCKER_CONTAINER='{{ dockerContainer }}' # Local Pi-hole container name
REMOTE_DOCKER_CONTAINER='{{ dockerContainer }}' # Remote Pi-hole container name
