image:
  longhorn:
    manager:
      repository: aidanhilt/longhorn-manager-nixos
      tag: feat-full-release-beta-test
    instanceManager:
      repository: aidanhilt/longhorn-instance-manager-nixos
      tag: feat-full-release-beta-test

defaultSettings:
  defaultReplicaCount: 1
  allowCollectingLonghornUsageMetrics: false
  systemManagedPodsImagePullPolicy: Always

persistence:
  defaultClassReplicaCount: 1

csi:
  attacherReplicaCount: 1
  provisionerReplicaCount: 1
  resizerReplicaCount: 1
  snapshotterReplicaCount: 1

preUpgradeChecker:
  jobEnabled: false
