sonarr:
  urlBase: sonarr

  configSecret:
    existingSecret: sonarr-config-secret

  externalAuth: true

serviceAccount:
  create: true
  name: sonarr
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-2"

persistence:
  config:
    enabled: true
  videos:
    enabled: true
    type: hostPath
    mountPath: /videos
    hostPath: /externalStorage/videos

initContainers:
  init-tv-dir:
    image: busybox
    command: ["sh", "-c", "mkdir -p /videos/TV"]
    volumeMounts:
      - name: videos
        mountPath: /videos
  fix-permissions:
    image: busybox
    command: ["sh", "-c", "chmod -R 777 /videos"]
    volumeMounts:
      - name: videos
        mountPath: /videos
