{{- range $appName, $app := .Values }}
{{- $excludedNames := (list "env" "hostnames" "defaultGitRepo" "gitRevision" "configuration" "homepage")}}
{{- $enabled := ternary $app.enabled true (hasKey $app "enabled") }}
{{- if and $enabled ($app.multiHost | default false)}}
{{- range $hostname := .Values.hostnames }}
{{- $safeHostname := $hostname | replace "." "-" }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ $appName }}-{{ $safeHostname }}"
  namespace: argocd
  annotations:
  {{- if $app.syncWave }}
    argocd.argoproj.io/sync-wave: "{{ $app.syncWave }}"
  {{- end }}
  {{- if $app.syncOptions }}
    argocd.argoproj.io/compare-options: "{{ $app.syncOptions }}"
  {{- end }}
spec:
  project: default
  sources:
    - repoURL: {{ $app.repo | default $.Values.defaultGitRepo }}
      targetRevision: {{ $app.version | default $.Values.gitRevision }}
    {{- with $app.gitPath }}
      path: {{ tpl . $ }}
    {{- end }}
    {{- with $app.chart }}
      chart: {{ . }}
    {{- end }}
    {{- $isHelmChart := and (not (hasKey $app "secureValues")) (or (not (hasKey $app "helmChart")) $app.helmChart) }}
    {{- if $isHelmChart }}
      helm:
        values: |
          env:
          - name: HOMEPAGE_ALLOWED_HOSTS
            value: {{ $hostname }}
          config:
            useExistingConfigMap: homepage-config-{{ $safeHostname }}
        releaseName: "{{ $appName }}-{{ $safeHostname }}"
      {{- if ($app.configuration).enabled }}
        valueFiles:
          - "$values/{{ $.Values.configuration.configurationDirectory }}/{{ $.Values.env }}/{{ $appName }}.yaml"
    - repoURL: {{ $.Values.configuration.configurationRepo }}
      targetRevision: {{ $.Values.configuration.configurationRevision | default $.Values.gitRevision }}
      ref: values
      {{- end }}
    {{- else if $app.secureValues }}
      plugin:
        name: argocd-vault-plugin-helm
        env:
          - name: HELM_VALUES
            value:
              {{- $app.secureValues | toYaml | indent 12 }}
    {{- end }}
  destination:
    server: 'https://kubernetes.default.svc'
  {{- if $app.destinationNamespace }}
    namespace: {{ $app.destinationNamespace }}
  {{- end }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      {{- if $app.serverSideApply }}
      - ServerSideApply=true
      {{- end }}
---
{{- range $subAppName, $subApp := $app.dependentApps }}
{{- $enabled := ternary $subApp.enabled true (hasKey $subApp "enabled") }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ $subAppName }}-{{ $safeHostname }}"
  namespace: argocd
  annotations:
  {{- $syncWave := $subApp.syncWave | default $app.syncWave }}
  {{- $syncOptions := $subApp.syncOptions | default $app.syncOptions }}
  {{- if $syncWave }}
    argocd.argoproj.io/sync-wave: "{{ $syncWave }}"
  {{- end }}
  {{- if $syncOptions }}
    argocd.argoproj.io/compare-options: "{{ $syncOptions }}"
  {{- end }}
spec:
  project: default
  sources:
    - repoURL: {{ $subApp.repo | default $app.repo }}
    {{- if $subApp.useDefaultGitRevision }}
      targetRevision: {{ $.Values.gitRevision }}
    {{- else }}
      targetRevision: {{ $subApp.version | default $app.version }}
    {{- end }}
    {{- with $subApp.gitPath }}
      path: {{ tpl . $ }}
    {{- end }}
    {{- with $subApp.chart }}
      chart: {{ . }}
    {{- end }}
    {{- $isHelmChart := and (not (hasKey $subApp "secureValues")) (or (not (hasKey $subApp "helmChart")) $subApp.helmChart ) }}
    {{- if $isHelmChart }}
      helm:
        {{- if or $subApp.defaultValues $subApp.followMasterConfig }}
        values: |
          {{- if $subApp.followMasterConfig }}
          {{- range $key, $value := $.Values }}
          {{- $excludedNames := (list "env" "hostnames" "defaultGitRepo" "gitRevision" "configuration")}}
          {{- if eq $key "hostnames" }}
          {{ $key }}:
            - {{ $hostname }}
          {{- else if not (has $key $excludedNames) }}
          {{ $key }}:
            enabled: {{ if hasKey $value "enabled" }}{{ $value.enabled }}{{ else }}false{{ end }}
          {{- end }}
          {{- end }}
          {{- end }}
        {{- end }}
        releaseName: "{{ $subAppName }}-{{ $safeHostname }}"
      {{- if ($subApp.configuration).enabled }}
        valueFiles:
          - "$values/{{ $.Values.configuration.configurationDirectory }}/{{ $.Values.env }}/{{ $subAppName }}.yaml"
    - repoURL: {{ $.Values.configuration.configurationRepo }}
      targetRevision: {{ $.Values.configuration.configurationRevision | default $.Values.gitRevision }}
      ref: values
      {{- end }}
    {{- else if $subApp.secureValues }}
      plugin:
        name: argocd-vault-plugin-helm
      env:
        - name: HELM_VALUES
          value:
            {{- $subApp.secureValues | toYaml | indent 8 }}
    {{- end }}
  destination:
    server: 'https://kubernetes.default.svc'
  {{- $destinationNamespace := $subApp.destinationNamespace | default $app.destinationNamespace }}
  {{- if $destinationNamespace }}
    namespace: {{ $destinationNamespace }}
  {{- end }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      {{- if $subApp.serverSideApply }}
      - ServerSideApply=true
      {{- end }}
---
{{- end }}
{{- end }}
{{- end }}
{{- end }}