{{- range $vaultConfigName, $vaultConfig := .Values }}
{{- if and (and (ne $vaultConfigName "hostnames") $vaultConfig.enabled) $vaultConfig.secretDestinationNamespace }}
---
{{- $resourceName := $vaultConfig.resourceName | default $vaultConfigName}}
{{- $serviceAccountName := ($vaultConfig.serviceAccount).name | default $resourceName }}
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: {{ $resourceName }}-auth
  namespace: {{ $vaultConfig.secretDestinationNamespace }}
spec:
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: {{ $resourceName }}
    serviceAccount: {{ $serviceAccountName }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $resourceName }}-config-secret
  namespace: {{ $vaultConfig.secretDestinationNamespace }}
spec:
  type: kv-v2
  mount: {{ $vaultConfig.secretDestinationNamespace }}
  path: {{ $resourceName }}/config

  destination:
    name: {{ $resourceName }}-config-secret
    create: true

    {{- if $vaultConfig.destination }}
    {{ toYaml $vaultConfig.destination | nindent 4}}
    {{- end }}

  refreshAfter: 30s

  vaultAuthRef: {{ $resourceName }}-auth

{{- if (get (default (dict) $vaultConfig.serviceAccount) "create") | default false }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $serviceAccountName }}
  namespace: {{ $vaultConfig.serviceAccount.namespace | default $vaultConfig.secretDestinationNamespace }}
{{- end }}

{{- if (get (default (dict) $vaultConfig.postgresSecret) "enabled") | default false }}
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultStaticSecret
metadata:
  name: {{ $resourceName }}-postgres-user
  namespace: {{ $vaultConfig.postgresSecret.namespace | default "postgres" }}
spec:
  type: kv-v2
  mount: {{ $vaultConfig.secretDestinationNamespace }}
  path: {{ $resourceName }}/config

  destination:
    name: {{ $resourceName }}-postgres-user
    create: true
    type: kubernetes.io/basic-auth
    labels:
      cnpg.io/reload: ""
    transformation:
      templates:
        username:
          text: {{ printf "{{ get .Secrets \"%s\" }}" ($vaultConfig.postgresSecret.usernameKey | default "postgresUsername") | quote }}
        password:
          text: {{ printf "{{ get .Secrets \"%s\" }}" ($vaultConfig.postgresSecret.passwordKey | default "postgresPassword") | quote }}
      excludes:
        - {{  $vaultConfig.postgresSecret.usernameKey | default "postgresUsername"}}
        - {{  $vaultConfig.postgresSecret.passwordKey | default "postgresPassword" }}

  refreshAfter: 30s

  vaultAuthRef: postgres-auth
---
apiVersion: secrets.hashicorp.com/v1beta1
kind: VaultAuth
metadata:
  name: {{ $resourceName }}-auth
  namespace: {{ $vaultConfig.postgresSecret.namespace | default "postgres" }}
spec:
  method: kubernetes
  mount: kubernetes
  kubernetes:
    role: {{ $resourceName }}
    serviceAccount: postgres-cluster
{{- end }}

{{- end }}
{{- end }}