controllers:
  main:
    serviceAccount:
      identifier: immich
    containers:
      main:
        env:
          DB_HOSTNAME: postgres-cluster-rw.postgres.svc.cluster.local
          DB_DATABASE_NAME: immich
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: immich-config-secret
                key: postgresUsername
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-config-secret
                key: postgresPassword

serviceAccount:
  immich:
    enabled: true
