controllers:
  main:
    containers:
      main:
        env:
          DB_HOSTNAME: postgres-cluster-rw.postgres.svc.cluster.local
          DB_DATABASE_NAME: immich
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: immich-config-secret
                key: postgresUsername
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-config-secret
                key: postgresPassword
valkey:
  enabled: true

persistence:
  library:
    enabled: true
    accessMode: ReadWriteOnce
    size: 10Gi
