controllers:
  main:
    initContainers:
      init-permissions:
        image:
          repository: busybox
        command:
          - sh
          - -c
          - |
            chmod -R 777 /data
        volumeMounts:
          - name: data
            mountPath: /data
        securityContext:
          runAsUser: 0
    containers:
      main:
        env:
          DB_HOSTNAME: postgres-cluster-rw.postgres.svc.cluster.local
          DB_DATABASE_NAME: immich
          DB_USERNAME:
            valueFrom:
              secretKeyRef:
                name: immich-config-secret
                key: postgresUsername
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-config-secret
                key: postgresPassword
valkey:
  enabled: true

persistence:
  data:
    enabled: true
    accessMode: ReadWriteOnce
    size: 10Gi
