sonarr:
  urlBase: sonarr

  configSecret:
    existingSecret: sonarr-config-secret

  externalAuth: true

  postgres:
    enabled: true
    setupJob:
      enabled: false

serviceAccount:
  create: true
  name: sonarr
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-2"

persistence:
  config:
    enabled: false
  videos:
    enabled: true
    type: hostPath
    mountPath: /videos
    hostPath: /videos
