jobs:
  configure-jellyfin:
    namespace: videos
    enabled: true
    image:
      repository: python
      tag: "3.12-alpine"
    serviceAccountName: jellyfin
    command: ["sh", "-c"]
    args:
      - |
        pip install jellyfin_apiclient_python && python -c "
        from jellyfin_apiclient_python import JellyfinClient
        from time import sleep

        import json
        import os

        ACCESS_TOKEN = os.environ['ACCESS_TOKEN']
        JELLYFIN_URL = os.environ['JELLYFIN_URL']

        client = JellyfinClient()
        client.config.data['app.name'] = 'Aidan\'s Audacious Configuration Alterator'
        client.config.data['app.version'] = '0.0.1'
        client.config.data['auth.ssl'] = True

        client.authenticate({'Servers': [{'AccessToken': ACCESS_TOKEN, 'address': JELLYFIN_URL}]}, discover=False)
        print('Successfully authenticated with API key')

        client.jellyfin.add_media_library('Movies', 'movies', '/videos/Movies')
        client.jellyfin.add_media_library('Shows', 'tvshows', '/videos/TV')
        print('Added library')

        exit(0)
        "
    env:
      - name: JELLYFIN_URL
        value: http://jellyfin/emby
      - name: ACCESS_TOKEN
        valueFrom:
          secretKeyRef:
            name: jellyfin-config-secret
            key: apiKey
  run-buildarr-sonarr:
    namespace: videos
    enabled: true
    image:
      repository: aidanhilt/buildarr
      tag: feat-external-user-1-retry
    command: ["sh", "-c"]
    args:
      - |
        echo "Running buildarr for sonarr"
        buildarr run /config/buildarr.yml
    volumeMounts:
      - name: config
        mountPath: /config
    volumes:
      - name: config
        secret:
          secretName: buildarr-sonarr-config-secret
    restartPolicy: Never
    backoffLimit: 1
  run-buildarr-radarr:
    namespace: videos
    enabled: true
    image:
      repository: aidanhilt/buildarr
      tag: feat-external-user-1-retry
    command: ["sh", "-c"]
    args:
      - |
        echo "Running buildarr for radarr"
        buildarr run /config/buildarr.yml
    volumeMounts:
      - name: config
        mountPath: /config
    volumes:
      - name: config
        secret:
          secretName: buildarr-radarr-config-secret
    restartPolicy: Never
    backoffLimit: 1
  run-buildarr-prowlarr:
    namespace: videos
    enabled: true
    image:
      repository: aidanhilt/buildarr
      tag: feat-external-user-1-retry
    command: ["sh", "-c"]
    args:
      - |
        echo "Running buildarr for prowlarr"
        buildarr run /config/buildarr.yml
    volumeMounts:
      - name: config
        mountPath: /config
    volumes:
      - name: config
        secret:
          secretName: buildarr-prowlarr-config-secret
    restartPolicy: Never
    backoffLimit: 1
  run-buildarr-jellyseerr:
    namespace: videos
    enabled: true
    image:
      repository: aidanhilt/buildarr
      tag: test
    command: ["sh", "-c"]
    args:
      - |
        echo "Running buildarr for jellyseerr"
        buildarr run /config/buildarr.yml
    volumeMounts:
      - name: config
        mountPath: /config
    volumes:
      - name: config
        secret:
          secretName: buildarr-jellyseerr-config-secret
    restartPolicy: Never
    backoffLimit: 1
  configure-lidarr:
    namespace: music
    enabled: true
    image:
      repository: alpine/kubectl
      tag: latest
    command: ["sh", "-c"]
    args:
      - |
        # (method, route, payload)
        apiCall() {
            curl \
                -s \
                -X "$1" \
                -H "Content-Type: application/json" \
                -H "X-Api-Key: $API_KEY" \
                -d "$3" \
                "$LIDARR_URL/api/v1/$2"
        }

        apiCall "POST" "downloadclient" '{"enable":true,"protocol":"torrent","priority":1,"removeCompletedDownloads":true,"removeFailedDownloads":true,"name":"Transmission","fields":[{"name":"host","value":"transmission.videos.svc.cluster.local"},{"name":"port","value":"80"},{"name":"useSsl","value":false},{"name":"urlBase","value":"/transmission/"},{"name":"username"},{"name":"password"},{"name":"musicCategory","value":"lidarr"},{"name":"musicImportedCategory"},{"name":"musicDirectory"},{"name":"recentMusicPriority","value":0},{"name":"olderMusicPriority","value":0},{"name":"addPaused","value":false}],"implementationName":"Transmission","implementation":"Transmission","configContract":"TransmissionSettings","infoLink":"https://wiki.servarr.com/lidarr/supported#transmission","tags":[]}'
        apiCall "POST" "rootFolder" "{\"defaultQualityProfileId\":1,\"defaultMetadataProfileId\":1,\"defaultMonitorOption\":\"all\",\"defaultNewItemMonitorOption\":\"all\",\"defaultTags\":[],\"name\":\"Main\",\"path\":\"/$ROOT_FOLDER/\"}"
    env:
      - name: LIDARR_URL
        value: http://lidarr/lidarr
      - name: ROOT_FOLDER
        value: music
      - name: API_KEY
        valueFrom:
          secretKeyRef:
            name: lidarr-config-secret
            key: apiKey
